.services {
  max-width:1000px;
  margin:auto;
  text-align:center;
}

.service-grid {
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:30px;
}
@media(max-width:480px){
  .service-grid { grid-template-columns:1fr; }
}
